

h1 { 
    text-align: center;
    color: #240d0d;
    font-size: 40px;
}

body {
    background: #f7a9a9
}

p {
    text-align: center;
    color: #FF0000;
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#titulo {
    font-size: 40px;
    color: #FF0000;
    background-color: #FFFFFF;
}

#vaca {
    width: 50%;
}

.objetivo {
    text-align: center;
    color: black;
}