

h1 { 
    text-align: center;
    color: #240d0d;
    font-size: 40px;
}

body {
    background: #FCF5ED
}

p {
    text-align: center;
    color: #FF0000;
    font-size: 20px;
}

em strong {
    color: #1F1717;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #CE5A67;
    padding: 20px;
}

ul {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#titulo {
    font-size: 40px;
    color: #FF0000;
    background-color: #F4BF96;
} 

#vaca {
    width: 26%;
}

#telas { 
    width: 26%;
    text-align: center;
}

.objetivo {
    text-align: center;
    color: black;
}